::ng-deep .mat-progress-bar-fill::after {
  background-color: #ff6600;
}

::ng-deep .mat-progress-bar-buffer {
  background: #ffffff;
}

::ng-deep .mat-progress-bar {
  height: 18px;
  border: 1px solid #ccc;
}
.login-page .brand-color-primary {
  background-color: #fff;
  padding-bottom: 40px;
}
.text-center {
  text-align: center;
}
.logo-login {
  margin-top: 40px;
}
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}
.bg-white {
  background-color: #fff;
}
.container {
  max-width: 1440px;
}
.container-hack {
  margin-left: auto;
}
@media (min-width: 768px) {
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
}
@media (min-width: 768px) {
  .col-sm-4 {
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
